.table-style {
  width: 100%;
}

.table-style,
th,
td {
  height: 60px;
  border: 1px solid black;
}
.header {
  font-size: 16px;
  text-align: center;
}
.row1,
.row2,
.row3,
.row4 {
  font-size: 12px;
  text-align: center;
}
